<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		
		<link rel="stylesheet" type="text/css" href="{% static 'mainapp/home.css' %}" />
		<title>Home</title>
	</head>

	<body>
		<div class="homepage">
			<div class="navbar">
			</div>ss
			<div class="heading">
				<div class="title">
					OrgMatch Home Page
				</div>
				<div class="tagline">
					A web app by Team  s u b l o i s
				</div>
				<button class="signUp">
					Signup
				</button>
			</div>
			<section class="columns">
				{% if all_categories_list %}
					<ul>
						{% for category in all_categories_list %}
							<li>
								<a href="/{{ category.id }}/">{{ category.name }}</a>
								<img src="{{ category.cover_image.url }}">
							</li>
						{% endfor %}
					</ul>
				{% else %}
    				<p>No more categories are available.</p>
				{% endif %}
			</section>
			<div class="seeMore">
				<button class="see">
					SEE MORE
				</button>
			</div>
		</div>
	</body>
</html>