
<!--
<ul class="navigation">
		<li class = 'home'><a href="/index/">Home</a></li>
		<li class = 'browse'><a href="/recommended/">Browse</a></li>
		<li class = 'search'><a href="/search/">Search</a></li>
		<li class = 'me'><a href="/profile/">Me</a></li>
	</ul>

	<div class='separator'> </div> 
-->

	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand text-weight-bold" href="/">OrgMatch</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/index/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/recommended/">Browse</a>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
<ul class="navbar-nav">
     
      <li class="nav-item ml-sm-2 active">
        <a class="nav-link" href="/profile/">My Profile</a>
      </li>
  </ul>
  </div>
</nav>
