<!DOCTYPE html>
<html>
<head>
	<title>Your Profile</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link type="text/css" rel="stylesheet" href="style.css">

</head>
<body style="width: 60%; margin: auto; margin-top: 3%;">
	<h1 class="text-center">{{first_name}} {{last_name}}'s Profile</h1>
	<div class="container bg-light">
		<img style="float: left;" src="http://lorempixel.com/400/400" width="20%"></img>
		<div style="margin-left: 25%;">
			<h2>{{city}}, {{state}}</h2>
			<h5>{{bio}}</h5>
		</div>
		<div style="clear: both; margin-bottom: 2%;"></div>
	</div>
</body>
</html>
